
{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Index
{% endblock %}

{% block body_block %}

<div>
  <h1>Rango says...</h1>
  <!-- <div>hey there partner!</div> -->
  {% if user.is_authenticated %}
    howdy {{ user.username }}!
  {% else %}
    hey there partner!
  {% endif %}
  {% if visits %}
    <p>visits: {{ visits }}</p>
  {% endif %}
</div>
<div>
    <div>
      <h2>Most Liked Categories</h2>
    </div>
  {% if categories %}
  <ul>
    {% for category in categories %}
      <li><a href="{% url 'show_category' category.slug %}"> {{ category.name }}</a></li>
    {% endfor %}
  </ul>
  {% else %}
      <strong>There are no categories present.</strong>
  {% endif %}
</div>

<div>
  <div>
    <h2>Most Viewed Pages</h2>
  </div>
    {% if pages %}
      <ul>
      {% for page in pages %}
      <li><a href="{{ page.url }}">{{ page.title }}</a></li>
      {% endfor %}
      </ul>
      {% else %}
        <strong>There are no categories present.</strong>
      {% endif %}
</div>
<img src="{% static "images/rango.jpg" %}"alt="Picture of Rango" />
{% endblock %}
<!--<!DOCTYPE html> #pre skeleton, i.e. base.html
{% load staticfiles %} <!-- import staticfiles into here to access files and folders inside -->
<!--<html>
  <head>
    <title>Rango</title>
  </head>

  <body>
    <h1>Rango says...</h1>

    <div>hey there partner!</div>

    <div>
      <div>
          <h2>Most Liked Categories</h2>
      </div>
    {% if categories %}
    <ul>
      {% for category in categories %}
        <!-- <li>{{ category.name }}</li> #changed to add as links -->
<!--        <li>
        <!-- <a href="/rango/category/{{ category.slug }}">{{ category.name }}</a> #pre url tag -->
<!--        <a href="{% url 'show_category' category.slug %}"> {{ category.name }}</a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}
    </div>

    <div>
      <div>
          <h2>Most Viewed Pages</h2>
      </div>
        {% if pages %}
        <ul>
          {% for page in pages %}
            <li>
            <a href="{{ page.url }}">{{ page.title }}</a>
            </li>
          {% endfor %}
        </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
        </div>

    <div>
      <a href="/rango/about/">About Rango</a><br />
      <a href="/rango/add_category/">Add a New Category</a><br />
      <img src="{% static "images/rango.jpg" %}"alt="Picture of Rango" />
    </div>
  </body>
</html>
-->